@model IEnumerable<PlayList>

@{ ViewData["Title"] = "Overview"; }

<div>

</div>
<div class="row"><h1>Nu en Straks!</h1></div>
<div class="row">
    
    @foreach (var item in Model)
    {
        <div class="col-2">
            <div class="card card-outline-primary m-1 p-1">
                <div class="card-text p-1">
                    <a asp-controller="Seat" asp-action="Selector" asp-route-movieId="@item.Id">
                        <img src="@item.Movie.PosterUrl" class="img-fluid" />
                        <p>@item.TimeSlot.SlotStart</p>
                        <p>Zaal @item.TimeSlot.RoomId</p>
                    </a>
                </div>
            </div>
        </div>
    }
</div>