@model RegisterUserViewModel

@section Styles {
    <link href="@Url.Content("~/css/user.css")" rel="stylesheet" type="text/css" />
}
@{ ViewData["Title"] = "Registeren"; }


<main class="center text-center form-signin">
    <form asp-action="Create" method="post">
        <img class="mb-4" src="/custom/user-tie-solid.svg" alt="" width="72" height="57">
        <h1 class="h3 text-light mb-3 fw-normal">Gebruiker toevoegen</h1>
        <div class="form-floating m-2">
            <label class="text-light" asp-for="Name"></label>
            <input class="form-control" placeholder="Naam" asp-for="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-floating m-2">
            <label class="text-light" asp-for="Email"></label>
            <input class="form-control" placeholder="naam@email.nl" asp-for="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-floating m-2">
            <label class="text-light" asp-for="Password"></label>
            <input class="form-control" placeholder="Wachtwoord" asp-for="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-floating m-2">
            <label class="text-light" asp-for="ConfirmedPassword"></label>
            <input class="form-control" placeholder="Wachtwoord" asp-for="ConfirmedPassword" />
            <span asp-validation-for="ConfirmedPassword" class="text-danger"></span>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Toevoegen</button>
        <p class="mt-5 mb-3 text-light">&copy; 2021</p>
    </form>
</main>