@model PlayList

<div class="col-3">
    <div class="card card-outline-primary m-1 p-1">
        <div class="card-text p-1">
            <!-- <img class="img-fluid" src="@Model.Movie.PosterUrl" /> -->
            <p>@Model.Week</p>
        </div>
    </div>
</div>