@model IEnumerable<PlayList>
<div class="row"><h1>DASHBOARD: Vandaag tot Donderdag</h1></div>
<div class="row">
    <form asp-controller="DashboardController" asp-action="AdjustNotice" method="post">
        <div>
            <label for="AdjustNotice">Pas de melding aan</label>
            <input class="form-control input-lg" id="AdjustNotice" type="text"/>
        </div> 
        <button class="btn-primary" type="submit">Aanpassen</button>
    </form>
</div>
    <div class="row">
@*        @foreach (var item in Model)
        {
            <div class="col-2 pl-1 pr-1">
                <div class="poster_custom card m-1">
                    <img src="@item.Movie.PosterUrl" class="img-fluid" />
                    <div class="p-1">
                        <p class="poster_label">@item.Movie.Title</p>
                        <p class="poster_moviestart">@item.TimeSlot.SlotStart.ToString("dddd HH:mm")</p>
                        <p class="poster_room">Zaal @item.TimeSlot.RoomId</p>
                    </div>
                </div>
            </div>
        }*@
    </div>
