
@{
    ViewData["Title"] = "Hoofdpagina";
}

<h1>Welkom in het backoffice systeem van SeeSharpers Cinema</h1>
<p>Gebruik de navigatie hier boven om te beheren. Dit systeem is alleen toegankelijk voor Beheerders en Backoffice medewerkers.</p>