@{
    ViewData["Title"] = "Login";
}

<main class="center text-center form-signin">
    <form>
        <img class="mb-4" src="/custom/film-solid.svg" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Inloggen Backoffice</h1>

        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Inloggen</button>
        <p class="mt-5 mb-3">&copy; 2021</p>
    </form>
</main>
