@model LoginUserViewModel

@{ ViewData["Title"] = "Inloggen"; }

<div class="row">
        <form asp-action="login" method="post">
                <label asp-for="Name"></label>
                <input class="form-control" asp-for="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>

                <label asp-for="Password"></label>
                <input class="form-control" asp-for="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>

            <button class="btn btn-primary" type="submit">Inloggen</button>
        </form>
</div>