@model SeeSharpersCinema.Models.Movie

@{
    ViewData["Title"] = "Price";
}

<div class="text-center">
    <h1 class="display-4">Price</h1>

    <table>
        <thead>
            <tr><th>Movie</th><th>Poster</th><th>Duration</th></tr>
        </thead>
        <tbody>
            @foreach (Movie.movies r in Model)
            {
                <tr>
                    <td>@r.Name</td>
                    <td>@r.Email</td>
                    <td>@r.Phone</td>
                </tr>
            }
        </tbody>
    </table>
</div>